<ion-navbar *navbar>
    <ion-title>
        Ethereum Wallets
    </ion-title>
</ion-navbar>
 
<ion-content>

	<ion-list *ngIf="!items.length<1">
		<ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}}</ion-item>
	</ion-list>
	<ion-card *ngIf="items.length<1">
    	<ion-card-content>
	    	You do not currently have any wallets setup<br/>
			Create or Import a wallet now<br/>
    	</ion-card-content>
  	</ion-card>


	<div class="buttons">
		<button (click)="addItem()" primary style="width: 100%;">Create New Wallet</button> 
		<button (click)="IMPORTNAVFUNC()" secondary style="width: 100%;">Import Wallet</button> 
	</div>

</ion-content>

